@charset "UTF-8";

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 95hvw;
    height: 95vh;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#celular {
    background-image: url(../imagens/frame-iphone.png);
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 490px;
}

a {
    padding: 5px;
    padding-right: 20px;
    margin-top: 10px;
    display: block;
    text-align: right;
}

img {
    width: 60px;
    height: 60px;
    text-align: right;
    border: 2px solid black;
    border-radius: 100%;
}

img:hover {
    transform: translate(-5%, -5%);
}
